
  <div class="wrapper">
          <!-- INCLUDE SIDEBAR -->
          <app-sidebar></app-sidebar>
      <div class="main-panel">
          <!-- INCLUDE SIDEBAR -->
          <app-header></app-header>
            <div class="content">
              fhh
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-header card-header-primary">
                        <h4 class="card-title">User Management</h4>
                        <p class="card-category">Listing</p>
                      </div>
              
                      <div class="card-body">
                        <div class="box">
                          <div class="box-header with-border">
                            <h3 class="box-title"></h3>
                          </div>
                          <!-- /.box-header -->
                          <div class="box-body">
                            <table class="table table-bordered">
                              <tr>
                                <th style="width: 10px">#</th>
                                <th>Task</th>
                                <th>Progress</th>
                                <th style="width: 40px">Label</th>
                              </tr>
                              <tr>
                                <td>1.</td>
                                <td>Update software</td>
                                <td>
                                  <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                  </div>
                                </td>
                                <td><span class="badge bg-red">55%</span></td>
                              </tr>
                              <tr>
                                <td>2.</td>
                                <td>Clean database</td>
                                <td>
                                  <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
                                  </div>
                                </td>
                                <td><span class="badge bg-yellow">70%</span></td>
                              </tr>
                              <tr>
                                <td>3.</td>
                                <td>Cron job running</td>
                                <td>
                                  <div class="progress progress-xs progress-striped active">
                                    <div class="progress-bar progress-bar-primary" style="width: 30%"></div>
                                  </div>
                                </td>
                                <td><span class="badge bg-light-blue">30%</span></td>
                              </tr>
                              <tr>
                                <td>4.</td>
                                <td>Fix and squish bugs</td>
                                <td>
                                  <div class="progress progress-xs progress-striped active">
                                    <div class="progress-bar progress-bar-success" style="width: 90%"></div>
                                  </div>
                                </td>
                                <td><span class="badge bg-green">90%</span></td>
                              </tr>
                            </table>
                          </div>
                          <!-- /.box-body -->
                          <div class="box-footer clearfix">
                            <nav aria-label="Page navigation example">
                              <ul class="pagination pg-blue">
                                <li class="page-item"><a class="page-link">Previous</a></li>
                                <li class="page-item"><a class="page-link">1</a></li>
                                <li class="page-item"><a class="page-link">2</a></li>
                                <li class="page-item"><a class="page-link">3</a></li>
                                <li class="page-item"><a class="page-link">Next</a></li>
                              </ul>
                            </nav>
                            <hr>
                            <nav aria-label="Page navigation example">
                              <ul class="pagination pg-blue">
                                <li class="page-item disabled">
                                  <a class="page-link" tabindex="-1">Previous</a>
                                </li>
                                <li class="page-item"><a class="page-link">1</a></li>
                                <li class="page-item active">
                                  <a class="page-link">2 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="page-item"><a class="page-link">3</a></li>
                                <li class="page-item">
                                  <a class="page-link">Next</a>
                                </li>
                              </ul>
                            </nav>
                          </div>
                        </div>
                      </div>
              
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <!-- INCLUDE FOOTER -->
          <app-footer></app-footer>
      </div>
  </div>
      

