
  <div class="wrapper">
    <!-- INCLUDE SIDEBAR -->
    <app-sidebar></app-sidebar>
<div class="main-panel">
    <!-- INCLUDE SIDEBAR -->
    <app-header></app-header>
      <div class="content">
        <div class="container-fluid">
          <flash-messages></flash-messages>
          <span class="slds-notify_container">
            <!-- {{objAlert | json}} -->
            <!-- <ngl-notification *ngIf="objAlert.show" type="alert" severity="error" 
            (nglNotificationClose)="onCloseAlert($event)" timeout="5000" 
            class="slds-theme--alert-texture">
                 <h2>{{objAlert.message}}</h2>
            </ngl-notification> -->
            <simple-notifications></simple-notifications>
        </span>
          <div class="row">
              <div class="col-md-12" [ngStyle]="{'text-align':'right'}">
                  <a routerLink="/admin/users/add">
                  <button type="button" class="btn ink-reaction btn-raised btn-primary">ADD NEW</button></a>
              </div>
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">User Management</h4>
                  <p class="card-category">Listing</p>
                </div>
        
                <div class="card-body">
                  <div class="box">
                    <div class="box-header with-border">
                      <h3 class="box-title"></h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                      <table class="table table-bordered">
                        <tr>
                          <th>ID</th>
                  <th>
                    <span (click)="listSort('username')" style="cursor:pointer;">
                    Username
                    </span> 
                    <span *ngIf="sortKey == username">
                    <i class="fa fa-sort-up" *ngIf="sortByDir==desc"></i>
                    <i class="fa fa-sort-down" *ngIf="sortByDir==asc"></i>
                    </span>
                    
                  </th>
                  <th>
                    <span (click)="listSort('first_name')" style="cursor:pointer;">
                    First Name</span>
                    <span  *ngIf="sortKey != first_name">
                      <i class="fa fa-sort-up" *ngIf="sortByDir==desc"></i>
                      <i class="fa fa-sort-down" *ngIf="sortByDir==asc"></i>
                    </span>
                    </th>
                  <th (click)="listSort('email')">Email</th>
                  <th>Picture</th>
                  <th>Action</th>
                        </tr>
                        <tr *ngFor="let row of listData">
                          <td>{{row.id}}</td>
                          <td>{{row.username}}</td>
                          <td>
                            <a href="javascript:void(0);" (click)="getUserInfo(row.id)">
                            {{row.first_name}}</a></td>
                          <td>{{row.email}}</td>
                          <td align="center">
                            <span *ngIf="row.profile_pic === null">No Image</span>
                            <img onError="this.src='./assets/img/no-image.png'" 
                            *ngIf="row.profile_pic != null" src="{{imagePath}}user/{{row.profile_pic}}" 
                            [ngStyle]="{'width':'auto','height':'150px','border':'1px solid #ccc','padding':'5px','background-color':'#eee'}">
                          </td>
                          <td>
                            <a routerLink="/admin/users/edit/{{row.id}}/{{pageNum}}">
                                <i class="fa fa-edit"></i>
                            </a> | 
                            <a (click)="userDelete(row.id)" [ngStyle]="{'cursor':'pointer'}">
                                <i class="fa fa-trash"></i>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="5" *ngIf="listData.length == null || listData.length === 0">No Record(s) Found</td>
                        </tr>
                      </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                      
                      <hr>
                      <nav aria-label="Page navigation example">
                        <ul class="pagination pg-blue">
                          <li class="page-item" [ngClass]="{'disabled' : pageNum <= 1}">
                            <a class="page-link" tabindex="-1" (click)="getListData((pageNum-1),limitNum, srchKey)">Previous</a>
                          </li>
                          <li *ngFor="let page of pagedGItems" class="page-item" [ngClass]="{'active': pageNum == page.val}">
                            <a class="page-link" href="javascript:void(0)" (click)="getListData(page.val,limitNum, srchKey)" 
                            *ngIf="page.val != '...'">{{page.val}}</a>
                            <a class="page-link" href="javascript:void(0)" *ngIf="page.val == '...'">{{page.val}}</a>
                        </li>

                          <li class="page-item" [ngClass]="{'disabled' : pageNum >= (totalPages)}">
                            <a class="page-link" (click)="getListData((pageNum+1),limitNum, srchKey)">Next</a>
                          </li>
                          <!-- , sortByField, sortByDir -->
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
        
              </div>
            </div>
            
          </div>
        </div>
      </div>
    <!-- INCLUDE FOOTER -->
    <app-footer></app-footer>
</div>
</div>


